
/* <style type="text/css" id="custom-background-css"> */
body.custom-background {
	background-color: #ffffff;
	background-image: url('../images/BG-WEB2.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
}

#resurrect-logo-text {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

body, input, textarea, select, .sf-menu li li a, .flex-description, #cancel-comment-reply-link, .resurrect-accordion-section-title, a.resurrect-button, a.comment-reply-link, a.comment-edit-link, a.post-edit-link, .resurrect-nav-left-right a, input[type=submit] {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#resurrect-header-menu-links > li > a .ctfw-header-menu-link-title, #resurrect-footer-menu-links {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

#resurrect-intro-heading, .resurrect-main-title, .resurrect-entry-content h1, .resurrect-entry-content h2, .resurrect-entry-content h3, .resurrect-entry-content h4, .resurrect-entry-content h5, .resurrect-entry-content h6, .resurrect-author-box h1, .resurrect-person header h1, .resurrect-location header h1, .resurrect-entry-short h1, #reply-title, #resurrect-comments-title, .flex-title, .resurrect-caption-image-title, #resurrect-banner h1, h1.resurrect-widget-title, .resurrect-header-right-item-date {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}


#resurrect-logo-tagline {
	left: 50px;
}

/***********  Sundry modifications *************/
body, .resurrect-list-icons a, .resurrect-text-icon, .resurrect-caption-image-description, .gallery-caption, #resurrect-top-menu-links li a, .resurrect-header-right-item a, #resurrect-header-menu-links > li > a .ctfw-header-menu-link-description, .sf-menu li li a, .flex-description, #resurrect-banner .ctfw-breadcrumbs, #resurrect-content-inner .ctfw-breadcrumbs a, .resurrect-comment-author span, .resurrect-comment-trackback-link span, .resurrect-comment-meta time, .resurrect-search-button, .resurrect-main-title span, input, select, textarea {
    color: #333;
}


.resurrect-location-webaddress {
	font-weight: bold;
	font-style: italic;
}

#resurrect-header-content {
    padding-bottom: 0px;
}

#dclm-extra-header {
	position: relative;
	display: table;
	width: 100%;
	height: 50px;
}

#dclm-extra-header #resurrect-logo-image img {
	float: right;
}

.dclm-sermons-category {
	font-weight: bold;
}
/* Sidebar */
.dclm-has-left-sidebar  {
	padding: 0px;
}
.dclm-has-left-sidebar .resurrect-entry-content  {
	margin-left: 220px;
}

.dclm-left-sidebar {
	float: left;
	width: 210px;
	margin-top: 10px;
	margin-left: -210px; /* width + border */
}
.ctfw-breadcrumbs .dropdown {
    width:260px;
    margin-right: 0 !important;
}
#resurrect-content-inner .dropdown div {
    margin-right: 0;
}
#resurrect-content-inner .dropdown ul{
    padding:0;
    margin:0;
}
#resurrect-content-inner .dropdown li.active{
    background:none !important;
}


/*** Modifications to main resurrect-style.css ***/
  /* Menu styling modifications  */
	#resurrect-header-menu {
	    padding: 0px 3px;
	}
	#resurrect-header-menu-links {
    	    padding: 5px 0px 2px;
	}
	#resurrect-header-menu-links > li {
	    padding-bottom: 10px;
	    margin-bottom: 0px;
	}
  
	/*.resurrect-entry-content h1, .resurrect-entry-content h2, .resurrect-entry-content h3 {
	    margin-top: 20px;
	} */
	.resurrect-entry-content h3 {
	    margin-top: 5px;
	}
	.resurrect-content-block {
	    padding: 15px;
	}

	/* Container for Title and Description - Mod*/

	.resurrect-caption-image-caption-top {
		position: absolute;
		top: 8%
		display: block;
		max-width: 90%;
	}

	/* #resurrect-entry-content #resurrect-loop-after-content */
	.resurrect-entry-full > .resurrect-entry-content:first-child #resurrect-loop-after-content:first-child {
	    	margin-top: -40px;
	}
	.resurrect-entry-short {
		margin-top: 40px;
	}
	.resurrect-entry-short > *,
	.resurrect-entry-short .resurrect-entry-footer-item {
    		margin-top: 10px;
	}

